<ul class="list-group">
  <li *ngIf="!loaded" class="list-group-item d-flex justify-content-between align-items-center">
    <h5>Loading... (spinner here)</h5>
  </li>
  <li *ngIf="loaded && logs.length <= 0" class="list-group-item d-flex justify-content-between align-items-center">
    <h5>There are no logs in the system</h5>
  </li>
  <li *ngFor="let log of logs" [class.list-group-item-secondary]="selectedLog === log" class="list-group-item d-flex justify-content-between align-items-center">
    <input type="hidden" id="log_id_{{log.id}}" value="{{ log.id }}">
    <a (click)="onSelect(log)" href="#">{{ log.text }}</a>
    <span class="log-date">{{ log.date | date: 'short'}}</span>
    <i (click)="onDelete(log)" class="fa fa-remove"></i>
  </li>
</ul>
